<header class="header-container">
    <nav class="nav">
        <a href="index.html">
            <img src = "images/logo.svg" alt="TOVLI" width="160" height="84">
        </a>

        <ul class="nav-list">
            <li><a href="shop.html">Shop</a></li>
            <li><a href="mission.html">Mission</a></li>
            <li><a href="jointhecause.html">Join the Cause</a></li>
            <li><a href="learn.html">Learn</a></li>
        </ul>

        <div class="nav-icons">
            <a href="account.html" class="icon-link">
                <img src="images/account.svg" alt="Аккаунт" class="nav-icon">
            </a>

            <a href="cart.html" class="icon-link">
                <img src="images/cart.svg" alt="Корзина" class="nav-icon">
            </a>
        </div>

    </nav>

</header>