<section class="hero-main">
  <div>
    <img src="images/main_background.svg" class="hero-background" alt="Фон">
    <img src="images/main_decor1.svg" class="decor decor-1" alt="">
    <img src="images/main_decor2.svg" class="decor decor-2" alt="">
    <img src="images/main_left_arrow.svg" class="decor left_arrow" alt="">
    <img src="images/main_right_arrow.svg" class="decor right_arrow" alt="">
    <img src="images/sugar_text.svg" class="decor sugar_text" alt="">
    <img src="images/carbs_text.svg" class="decor carbs" alt="">
    <img src="images/pack.png" class="decor pack" alt="">
    <img src="images/candy.png" class="decor candy" alt="">
    <img src="images/peach.png" class="decor peach" alt="">
    <img src="images/blueberry.png" class="decor blueberry" alt="">
    <img src="images/apple.png" class="decor apple" alt="">
    <img src="images/main_right_arrow_black.svg" class="decor right_arrow_black" alt="">
    <img src="images/text_artificials.svg" class="decor text2" alt="">
    <img src="images/ellipse.svg" class="decor ellipse" alt="">
    <img src="images/ellipse2.svg" class="decor ellipse2" alt="">
    <img src="images/ellipse3.svg" class="decor ellipse3" alt="">
    <img src="images/ellipse4.svg" class="decor ellipse4" alt="">
    <img src="images/pics.svg" class="decor pics" alt="">
  </div>

  <a href="shop.html" class = "buttons hero-button">Shop now</a>

  <div class = "hero-description">
    <div class="future-text-block">
      The future is
    </div>
    <div class="healthy-text-block">
      Healthy, Sweet & <br> Inclusive
    </div>
  </div>
</section>
