<section class="hero-main">
  <div>
    <img src="/components/main-banner/assets/main_background.png" class="hero-background" alt="Фон">
    <img src="/components/main-banner/assets/main_decor1.svg" class="decor decor-1" alt="">
    <img src="/components/main-banner/assets/main_decor2.svg" class="decor decor-2" alt="">
    <img src="/components/main-banner/assets/main_left_arrow.svg" class="decor left_arrow" alt="">
    <img src="/components/main-banner/assets/main_right_arrow.svg" class="decor right_arrow" alt="">
    <img src="/components/main-banner/assets/sugar_text.svg" class="decor sugar_text" alt="">
    <img src="/components/main-banner/assets/carbs_text.svg" class="decor carbs" alt="">
    <img src="/components/main-banner/assets/pack.png" class="decor pack" alt="">
    <img src="/components/main-banner/assets/candy.png" class="decor candy" alt="">
    <img src="/components/main-banner/assets/peach.png" class="decor peach" alt="">
    <img src="/components/main-banner/assets/blueberry.png" class="decor blueberry" alt="">
    <img src="/components/main-banner/assets/apple.png" class="decor apple" alt="">
    <img src="/components/main-banner/assets/main_right_arrow_black.svg" class="decor right_arrow_black" alt="">
    <img src="/components/main-banner/assets/text_artif.svg" class="decor text2" alt="">
    <img src="/components/main-banner/assets/ellipse.svg" class="decor ellipse" alt="">
    <img src="/components/main-banner/assets/ellipse2.svg" class="decor ellipse2" alt="">
    <img src="/components/main-banner/assets/ellipse3.svg" class="decor ellipse3" alt="">
    <img src="/components/main-banner/assets/ellipse4.svg" class="decor ellipse4" alt="">
    <img src="/components/main-banner/assets/pics.svg" class="decor pics" alt="">
  </div>

  <a href="shop.html" class = "buttons hero-button" id = "actionButton">Shop now</a>

  <div class = "hero-description">
    <div class="future-text-block">
      The future is
    </div>
    <div class="healthy-text-block">
      Healthy, Sweet & <br> Inclusive
    </div>
  </div>
</section>
