html {
    --color-dark: #000000;
    --text-dark: var(--color-dark);
    --text-light: #FFFFFF;

    --font-jakarta: 'Plus Jakarta Sans', sans-serif;
    --font-fuzzy: 'Fuzzy Bubbles', sans-serif;
    --font-fredoka: 'Fredoka One', 'Fuzzy Bubbles', sans-serif;
      
}

body {
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
    gap: 308px; 
    margin-left: 136px;
    margin-top: 41px;
    font-family: var(--font-jakarta);
}

.nav-list {    
    list-style: none;
    padding: 29.5px 0px;
    margin: 0;
    color: var(--text-dark);
    font-weight: 600;
    font-size: 20px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.nav-icons{
    display: flex;
    gap: 30px;
}

.nav-icon{
    width: 25.9px;
    height: 28px;
}

.nav-list a {
    text-decoration: none;
    color: inherit; 
    font-family: var(--font-jakarta);
}

.buttons{
    position: absolute;
    z-index: 1;
    font-family: var(--font-jakarta);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 800;
    border: none;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}


@import "templates/main-banner.css";